extends layout

block content
    .section.section-timePerDay
        .chart-container
            canvas#overallChart
    .section.section-dwell
        | Dwell
    .section.section-numPerDay
        | Number per day
    .section.section-numPerWeek
        | Number per week