doctype html
html
    head
        title Dashboard
        link(rel='stylesheet' href='/stylesheets/style.css')
        script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
    body
        .wrapper
            .sidebar
                header.header
                    h1 Welcome User
                nav.navigation
                    header.nav
                        h3 Navigation
                    .nav-group
                        | Number of devices 
                        span.nav-arrow &gt;
                        .nav-group-item(data-target='numPerDay') Per day
                        .nav-group-item(data-target='numPerWeek') Per week
                    .nav-group
                        | Time spent  
                        span.nav-arrow &gt;
                        .nav-group-item(data-target='timePerDay') Per day
                        .nav-group-item(data-target='dwell') Average stay time
                        //- .nav-group-item(data-target='average') Average per day
            .content-pane
                header.header
                    h1 QCW Dashboard
                block content
        script(src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0")
        script(src="./javascripts/dbData.js")
        script(src="./javascripts/navigation.js")
        script(src="./javascripts/charts.js")
