extends matLayout

block content
    .row#statsDaily
        .col.s12.l6.m6
            h4 Number of unique devices per day
            canvas#numPerDay
        .col.s12.l6.m6
            h4 Busiest times of day
            canvas#timesPerDay
        .col.s12.l6.m6
            h4 Average dwelling time
            canvas#dayDwellTimes
        .col.s12.l6.m6
            h4 Number per day of week
            canvas#numPerDayOfWeek
    .row#statsWeekly
        .col.s12.l6
            h4 Number of unique people per week
            canvas#numPerWeek
        .col.s12.l6
            h4 Dwell per week
            canvas#dwellPerWeek
    .row#statsMonthly
        .col.s12.l6
            h4 Number of unique people per month
            canvas#numPerMonth
        .col.s12.l6
            h4 Dwell per month
            canvas#dwellPerMonth