* {
	padding: 0px;
	margin: 0px;
}

body,
html {
	font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

.wrapper {
	display: grid;
	grid-template-columns: 2.5fr 10fr;
	height: 100vh;
}

.content-pane .header {
	margin: 0px;
	background-color: #3481ca;
	color: white;
	/* box-shadow: 10px 1px 10px 1px #7c7c7c; */
	padding: 0.75rem;
}

.header h1 {
	margin: 0;
	text-align: center;
}

.sidebar {
	/* box-shadow: 0px 1px 10px 1px #7c7c7c; */
	background-color: #0f6dc5;
	color: white;
}

.sidebar .header {
	margin: 0 0 1rem 0;
	padding: 0.75rem;
}

.sidebar nav.navigation {
	margin: 0 0 0 1rem;
}

.sidebar nav.navigation .nav-group {
	cursor: pointer;
	margin: 1rem 0 0 0;
	font-size: 20px;
}

.sidebar nav.navigation .nav-group .nav-group-item {
	margin: 0.5rem 0 0 1rem;
	font-size: 16px;
	display: none;
}

.nav-group-item.nav-group-active {
	display: block !important;
}
